<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Exchange house - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/menu_top.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
