<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class = "nav-link"><img src="../assets/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        House Exchange
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('mainPage') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fonctionnement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="btn btn-success my-2 my-sm-0 mr-5"><a style ="color: white;" href="{{ path('mon_espace') }}">Mon espace</a></div>
    <form class="form-inline my-2 my-lg-0">
        
        <div id="disconnectUserBtn" class="btn btn-danger my-2 my-sm-0 mr-5"><a href="{{ path('account_logout') }}">Deconnexion</a></div>
    </form>
</nav>