{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/mon-espace/sidebar.css') }}" rel="stylesheet"/>
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}
{% block title %}Mon espace{% endblock %}
{% block javascripts %}
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block body %}
    {% include 'menu_top.html' %}
    <div id="dashboardpage">
    </div>
{% endblock %}